body {
    background-image: url('../../../assets/images/23534.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

div{
    padding-left: 10vh;
}

.title { 
    height: 60px;
    box-shadow: none;
    color: #1b1c1d;
}

.subtitle {
    color: #1b1c1d;
    padding-bottom: 10px;
    font-style: italic;
}

.clear{
    color: #5b5e61;
    height: 86px;
}

input {
    border-radius: 10px;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}


label {
    padding-top: 20px;
    font-weight: 700;
    
}

input:hover {
    border-style: solid;
    border-color: rgb(36, 184, 43);
}

.btn {
    color: #333;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}

.btn:hover {
    color: rgb(218, 208, 208);
    border-radius: 5px;
    font-size: 16px;
    background-color: blue;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}