<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <title>updateBookingDetails</title>
</head>

<body>
  <div class="form">
    <div class="title">
      <h1>Update Booking Details</h1>
    </div>
    <div class="subtitle">Enter the details to be updated</div>


    <div class="input-container ic1">
      <label for="booking_id" class="placeholder">Booking Id</label>
      <div class="cut"></div>
      <input id="bookingId" class="input" type="number" placeholder="booking id" />
    </div>

    <div class="input-container ic2">
      <label for="hotel_id" class="placeholder">Hotel Id</label>
      <div class="cut"></div>
      <input id="hotelId" class="input" type="number" placeholder="hotel id" />
    </div>

    <div class="input-container ic2">
      <label for="username" class="placeholder">User Name</label>
      <div class="cut"></div>
      <input id="userName" class="input" type="text" placeholder="enter username" />
    </div>

    <div class="input-container ic2">
      <label for="booked_from" class="placeholder">Booked From</label>
      <div class="cut"></div>
      <input id="bookedFrom" class="input" type="date" placeholder="check-in date" />
    </div>

    <div class="input-container ic2">
      <label for="booked_to" class="placeholder">Booked To</label>
      <div class="cut"></div>
      <input id="bookedTo" class="input" type="date" placeholder="check-out date" />
    </div>

    <div class="input-container ic2">
      <label for="no_of_adults" class="placeholder">Number Of Adults</label>
      <div class="cut"></div>
      <input id="adults" class="input" type="text" placeholder="no of adults" />
    </div>

    <div class="input-container ic2">
      <label for="no_of_children" class="placeholder">Number Of Children</label>
      <div class="cut"></div>
      <input id="children" class="input" type="number" placeholder="no of children " />

    </div>

    <div class="input-container ic2">
      <label for="totalAmount" class="placeholder">Total Amount</label>
      <div class="cut"></div>
      <input id="amount" class="input" type="number" placeholder="enter total billing amount" />
    </div>

    <div class="clear"></div>
    <!-- (click)="updateBookingDetails -->
    <button type="text" class="submit">Save Changes</button>
  </div>
</body>