<!DOCTYPE html>
<html>

<head>
  <title>delete and redirect</title>
  <link rel="stylesheet" type="text/css" href="delete-booking.component.css">
</head>

<body>

  <h1 style="text-align:center;color:green;">
    Confrim Delete Booking
  </h1>

  <p style="text-align:center;color:red;">
    Enter booking id and confirm deletion.
    Be advised, deletion in non-recoverable process !
  </p>

  <div class="form">
    <div class="input-container center">
      <input id="booking_id" class="input" type="number" placeholder="booking id" name="number"
        [(ngModel)]="booking_id" />
      <div class="cut"></div>
      <button type="text" class="submit btn" (click)="deleteBookingDetailsById()">Delete</button>
    </div>
  </div>

  <a class="back" href="/fetchAllBookingDetails">Go back All Bookings</a>

</body>

</html>

<!-- 
    <div class="cut"></div>
  <input class="btn" type="button" value="see all bookings" onclick="DelayRedirect()" />

  <div id="dvCountDown" style="display:none">
    You will be redirected after <span id="lblCount"></span>&nbsp;seconds.
  </div>
  <script type="text/javascript">
    function DelayRedirect() {
      var seconds = 5;
      var dvCountDown = document.getElementById("dvCountDown");
      var lblCount = document.getElementById("lblCount");
      dvCountDown.style.display = "block";
      lblCount.innerHTML = seconds;
      setInterval(function () {
        seconds--;
        lblCount.innerHTML = seconds;
        if (seconds == 0) {
          dvCountDown.style.display = "none";
          window.location = "http://localhost:4200/fetchAllBookingDetails";
        }
      }, 1000);
    }
  </script>
 -->

<!-- 	<p style="text-align:center;">
		If your browser supports Refresh,
		you'll be redirected to show all bookings, in 5 seconds.
	</p> -->

<!--   <div class="container-fluid center" >
    <h2 style="text-align:center;color:red; font-style: italic;">Enter Booking Id</h2>
    <form [formGroup]="bookingDetailsForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input formControlName="booking_id" id="id"type="number">
      </div>
      <button class="btn btn-danger" type="submit">Submit</button>
    </form>
  </div> -->